<!DOCTYPE html>
<html>
<head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/login_css.css' />
</head>
<body>

<h2>Welcome to book system</h2>
<div class="bg">
<form action="success/login">
    <input type="text" name="username"><br><br>
    <input type="password" name="password"><br><br>
    <button type="submit">login</button>
    <br><br>
    还没账号？<a href="register"> 去注册</a>

</form>
</div>
</body>
</html>