<!DOCTYPE html>
<html>
<head>
    <title>register</title>
    <link rel='stylesheet' href='/stylesheets/login_css.css' />
    <style>
        .bg{
            background-color: rgba(197, 164, 2, 0.49);
        }
    </style>
</head>
<body>

<h2>Welcome to register book system</h2>
<div class="bg">
    <form action="success/register">
        <input type="text" name="username"><br><br>
        <input type="password" name="password"><br><br>
        <button type="submit">register</button>
        <br><br>
        已有账号？<a href="login"> 去登陆</a>

    </form>
</div>
</body>
</html>